<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Esquina de Reyes</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        .playerCard {
            height: 120px;
            margin: 4px;
        }

        .oponentCard {
            height: 80px;
            margin: 4px;
        }

        .card:hover {
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="background:#F8ECC2">

    <div class="container">
        <div class="col-lg-7">
            <h2>Rossy</h2>
            <img class="playerCard" src="cards/10C.svg" />
            <img class="playerCard" src="cards/4D.svg" />
            <img class="playerCard" src="cards/AS.svg" />
            <img class="playerCard" src="cards/6D.svg" />
            <img class="playerCard" src="cards/9D.svg" />
            <img class="playerCard" src="cards/JH.svg" />
        </div>
        <div class="col-lg-5">
            <div>
                <h3>Fernanda</h3>
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
            </div>
            <div>
                <h3>Luis</h3>
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
                <img class="oponentCard" src="img/card_back.png" />
            </div>

        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
