<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Esquina de Reyes</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/game.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .playerHand {
            display: inline-block;
            background: lightgrey;
            width: 600px;
        }

        .flip {
            height: 199px;
            width: 150px;
            margin: 0 auto;
            float:left;
            margin:10px;
        }

            .flip img {
                width: 150px;
                height: auto;
            }

            .flip .back {
                background: #2184cd;
                color: #fff;
                text-align: center;
            }
    </style>

</head>
<body style="background:#F8ECC2">


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Esquina de Reyes</h5>
                <h2>Rossy</h2>
                <a href="#" id="btnFlip" class="btn btn-default">Iniciar</a>

                <div class="flip">
                    <div class="front">
                        <img src="img/card_back.png" alt="" />
                    </div>
                    <div class="back">
                        <img src="cards/6C.svg" alt="" />
                    </div>
                </div>
                <div class="flip">
                    <div class="front">
                        <img src="img/card_back.png" alt="" />
                    </div>
                    <div class="back">
                        <img src="cards/AH.svg" alt="" />
                    </div>
                </div>
                <div class="flip">
                    <div class="front">
                        <img src="img/card_back.png" alt="" />
                    </div>
                    <div class="back">
                        <img src="cards/4H.svg" alt="" />
                    </div>
                </div>
                <div class="flip">
                    <div class="front">
                        <img src="img/card_back.png" alt="" />
                    </div>
                    <div class="back">
                        <img src="cards/KC.svg" alt="" />
                    </div>
                </div>
                <div class="flip">
                    <div class="front">
                        <img src="img/card_back.png" alt="" />
                    </div>
                    <div class="back">
                        <img src="cards/9C.svg" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.flip.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".flip").flip({
                trigger: 'manual'
            });
        });

        $("#btnFlip").click(function () {
            $(".flip").flip('toggle');
        });
    </script>
</body>
</html>
