.playerCard {
    height: 120px;
    margin: 4px;
}

.oponentCard {
    height: 80px;
    margin: 4px;
}

.deckCard {
    height: 120px;
    margin: 4px;
}

#NorthWest {
    position: absolute;
    left: 0px;
    top: 0px;
    -ms-transform: rotate(130deg); /* IE 9 */
    -webkit-transform: rotate(130deg); /* Chrome, Safari, Opera */
    transform: rotate(130deg);
}

#North {
    position: absolute;
    left: 200px;
    top: 0px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#NorthEast {
    position: absolute;
    left: 400px;
    top: 0px;
    transform: rotate(224deg);
    -webkit-transform: rotate(224deg);
    -moz-transform: rotate(224deg);
    -o-transform: rotate(224deg);
    -ms-transform: rotate(224deg);
}

#East {
    position: absolute;
    left: 0px;
    top: 200px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#Center {
    position: absolute;
    left: 200px;
    top: 200px;
}

#West {
    position: absolute;
    left: 400px;
    top: 200px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

#SouthEast {
    position: absolute;
    left: 400px;
    top: 400px;
    -ms-transform: rotate(310deg); /* IE 9 */
    -webkit-transform: rotate(310deg); /* Chrome, Safari, Opera */
    transform: rotate(310deg);
}

#South {
    position: absolute;
    left: 200px;
    top: 400px;
}

#SouthWest {
    position: absolute;
    left: 0px;
    top: 400px;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
